<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta content="text/html; charset=ISO-8859-1"
      http-equiv="Content-Type">
    <title>Panther's Den</title>
  </head>
  <body bgcolor="#cccccc" link="#0000EE" text="#000000" vlink="#551A8B"
    alink="#EE0000">
    <img alt=""
	src="XXXstatic/anm5213a41ecdc79b75.gif"
      height="60" width="400">
    <div align="center"><font face="Arial Black"><big><i><big><big>Raspberry
                Pi System Status</big></big></i></big></font><br>
    </div>
    <table border="1" bgcolor=WHITE cellpadding="2" cellspacing="2" width="100%">
      <tbody>
        <tr align="left">
          <td valign="top"><i><font face="Arial Black">System Time:</font></i><font
              face="Arial Black">&nbsp; AAA</font><br>
          </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">Uptime:&nbsp;&nbsp;&nbsp;
              </font></i><font face="Arial Black">BBB</font><i><font
                face="Arial Black"><br>
              </font></i> </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">Number of Users:
              </font></i><font face="Arial Black">CCC</font><i><font
                face="Arial Black"><br>
              </font></i> </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">Free Memory: </font></i><font
              face="Arial Black">DDD</font><br>
          </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">Room Temperature:
              </font></i><font face="Arial Black">EEE</font><i><font
                face="Arial Black"><br>
              </font></i> </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">Pressure:</font></i><font
              face="Arial Black"> FFF</font><i><font face="Arial Black"><br>
              </font></i> </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">CPU Temp: </font></i><font
              face="Arial Black">GGG</font><i><font face="Arial Black"><br>
              </font></i> </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">IP Number: </font></i><font
              face="Arial Black">HHH</font><i><font face="Arial Black"><br>
              </font></i> </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">External URL: </font></i><font
              face="Arial Black">III</font><i><font face="Arial Black"><br>
              </font></i> </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">RasPiConnect Server Version: </font></i><font
              face="Arial Black">JJJ</font><i><font face="Arial Black"><br>
              </font></i> </td>
        </tr>
        <tr>
          <td valign="top"><i><font face="Arial Black">Last Text Sent From RasPiConnect: </font></i><font
              face="Arial Black">KKK</font><i><font face="Arial Black"><br>
              </font></i> </td>
        </tr>
      </tbody>
    </table>
    <big><i><big><big><br>
            <br>
          </big></big></i></big><br>
  </body>
</html>
